<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <h1>so para ver de quale leh </h1>
    
    <p th:text="'Ola, ' + ${name} + '!'" />


<!--     <p th:text="'authorizedClient, ' + ${authorizedClient} + '!'" /> -->


<!-- 	<ul th:each="student: ${lst}">
        <li th:text="${student}" />
    </ul>
 -->    
    <!-- <p th:text="'authorizedClients, ' + ${authorizedClient.getAuthorities} + '!'" /> -->
</body>
</html>