<!DOCTYPE html>
<script>

function logout() {
    console.log('.................................');
//   let token = document.cookie.get('JSESSIONID');
//   document.cookie.delete('access_token');
//   document.cookie.delete('id_token');
    document.cookie = "JSESSIONID=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
//   let logoutURL = "http://localhost:9000/auth/realms/baeldung/protocol/openid-connect/logout?id_token_hint=" + token + "&post_logout_redirect_uri=" + this.redirectUri;
  let logoutURL = "http://localhost:9000/perform_logout";
  window.location.href = logoutURL;
    // fetch("/lo)
}
</script>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>sair</title>
    </head>
    <body onload="javascript: logout();">
        <h1>so para ver de quale leh</h1>
        
    </body>
</html>